<link rel="stylesheet" href="/style.css">
<header class="header">
    <div class="container">
        <a href="/new">Add a new product</a><br>
        <a href="/deletecategory">Delete a category</a><br>
        <a href="/deleteproduct">Delete a product</a>
    </div>
</header>
<main class="center">
    <div class="products">
        <% for(let i = 0; i<products.length; i++) { %>
            <div class="product-card">
                <img src="/" alt="Фото товара">
                <a href="/product/<%= products[i].name %>"><%= products[i].name %></a>
                <p><%= products[i].brand %></p>
                <p><%= products[i].price %></p>
            </div>
        <% } %>
    </div>
</main>